body{
    background-color: #242946;
    background-image: url(/img/pp.jpg);
    background-size: cover;
    color: white;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    border: none;
    /* background: #242946; */
    box-sizing: border-box;
    /* color: #f5f5f5; */
    /* font-family: ExoSpace; */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* #line{
    border: solid;
    border-color: red;
    height: 4rem;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: end;

} */

/* #nav{
cursor: pointer;
} */

#head-div{
    padding: 2rem;
    margin-top: 1rem;
    /* background: fixed; */
    /* height: 74vh; */
    /* align-items: center; */
    flex-direction: column;
    background-position: top;
    background-size: cover;
    display: flex;
    /* border: solid; */
}

#titular{
    flex-direction: column;
    /* background-position: top;
    background-size: cover; */
    display: flex; 
}

#lala{
    height: 2rem;
    margin-right: 0;
    margin-left: 50rem;
    margin-top: 2rem;
}

/* #pepepe{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
} */

#boton{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#botonsito{
    height: 3rem;
    width: 7rem;
}

/* #conocimientos{
    padding: 2rem;
    margin-top: 1rem;
    height: 40rem;
    justify-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


} */

#tooling{
    height: 1rem;


}

#hola{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    /* padding: 2rem; */
    border-radius: 1.5rem;
    /* border: solid; */
    /* height: 39.2rem;
    width: 40rem; */

}

#fornt {
    height: 4rem;
    border-radius: 1.5rem;
    

}

.holiwis {
    height: 4rem;
    margin: 1rem;
    

}

#toolingdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
    align-items: center;
    
}

.jaja{
    font-family: "Oswald";

}
.inter{
    font-family: "Inter";

}

#inter{
    font-family: "Inter";
    font-size: 1.2rem;
    
}

#nose{
    border-color: yellow;
}

.inter2{
    font-size: 1.5rem;

}

#toolingTitle{
    display: flex;
    justify-content: center;
    font-family: "Oswald";
}

#tooling{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5rem;
    border: solid;
    height: 6rem;
    width: 18rem;
    border-radius: 1.5rem;
    margin-top: 0;
}

 #front{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    border: solid;
    height: 35rem;
    margin: 1rem;
    width: 11rem;

}

#backend{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    border: solid;
    height: 35rem;
    width: 11rem;
    
} 

#technologie{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    border: solid;
    height: 35rem;
    margin: 1rem;
    width: 11rem;


}

#back{
    height: 4rem;
    
}

#tech{
    height: 4rem;
    
}

#projectHead{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 5rem;
    
    /* background-color: blueviolet; */
}

/* #proyecto1{
    width: full;
    height: full;
    position: absolute;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: white;
    opacity: 0;

} */

#imagen1{
    height: 18rem;
    opacity: 1;
    object-fit: cover;

}
#figcaption1{
    opacity: 0;
    padding-left: 3rem;
    padding-right: 3rem;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 10;
    top: 0px;
    position: absolute;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

#imagen2{
    height: 18rem;
    opacity: 1;
    object-fit: cover;

}
#imagen3{
    height: 18rem;
    opacity: 1;
    object-fit: cover;

}

#kuchau{
    font-size:6rem ;
}
#kuchau2{
    font-size: 4rem ;
}

#chiki{
    font-size: 3rem;
}

#all{
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 2rem;
justify-content: center;
/* height: auto; */
}

#projecto1{
border-radius: 12px;
--tw-bg-opacity: 1;
background-color: rgb(15 23 42 / var(--tw-bg-opacity));
overflow: hidden;
position: relative;
margin: 0;
box-sizing: border-box;
border-width: 0;
border-style: solid;
border-color: #e5e7eb;
}

#projecto2{
    flex-basis: calc(33.333333% - 2rem);
    border-radius: 12px;
    overflow: hidden;
    height: 20rem;
    width: 20rem;
}

#projecto3{
        flex-basis: calc(33.333333% - 2rem);
        border-radius: 12px;
        overflow: hidden;
        height: 20rem;
        width: 20rem;
}

#footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
    padding: 0;
    width: 100%;
}

#fooTitle{
margin-bottom: 4rem;
align-self: center;

}

#wikiwiki{
    align-items: center;
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    width: 98%;
}

#git{
    align-items: center;
    background: #333;
    color: #d6d6d6;
    cursor: pointer;
    display: flex;
    height: 11rem;
    width:20rem;
    /* justify-content: space-between; */
    padding: 0 1.5rem;
    position: relative;
    /* width: 25%; */
    text-decoration: none;

}

#lin{
    align-items: center;
    background: #0077b5;
    color: #cce4f0;
    cursor: pointer;
    display: flex;
    height: 11rem;
    width:20rem;
    /* width: auto; */
    /* justify-content: space-between; */
    padding: 0 1.5rem;
    /* width: 25%; */
    text-decoration: none;

}

#tui{
    align-items: center;
    background: #1da1f2;
    color: #d2ecfc;
    cursor: pointer;
    display: flex;
    height: 11rem;
    width:20rem;
    /* justify-content: space-between; */
    padding: 0 1.5rem;
    /* width: 25%; */
    text-decoration: none;

}

#email{
    align-items: center;
    background: #0077b5;
    color: #cce4f0;
    cursor: pointer;
    display: flex;
    height: 11rem;
    width:20rem;
    /* width: auto; */
    /* justify-content: space-between; */
    padding: 0 1.5rem;
    /* width: 25%; */
    text-decoration: none;

}

#kakakak{
    height: 13rem;
}

#fut{
    align-items: center;
    background: #545555;
    /* cursor: pointer; */
    display: flex;
    height: 2rem;
    justify-content: center;
    width: 100%;
}

#slider-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: .5rem;
}

#imagen10{
height: 20rem;
width: 30rem;
border-radius: .5rem;
}
#imagen20{
height: 20rem;
width: 30rem;
border-radius: .5rem;
}
/* #imagen20:hover{
    width: 40rem;
    height: 30rem;
}
#imagen10:hover{
    width: 40rem;
    height: 30rem;
} */
#arrows-wrapper{
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer; */
    display: none;
}

#todito{
    font-size: 1rem;
    margin: 1rem;
    font-size: 1rem;
    width: 20rem;
    height: 22rem;

    font-family: "Oswald";
    border: solid;
    border-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    text-align: center;

}
#todito2{
    font-size: 1rem;
    margin: 1rem;
    font-size: 1rem;
    width: 20rem;
    height: 22rem;
    font-family: "Oswald";
    border: solid;
    border-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    text-align: center;

}
#todo{
margin: 1rem;
display: flex;
flex-direction: row;
justify-content: center;
}

#gg{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    text-decoration: none;
    height: 3.3rem;
    width: 8rem;
    border: solid;
    border-radius: 6rem;
    margin: 1rem;
    color: white;
    border-color: #e3b6ff;

}

#gg2{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    text-decoration: none;
    border: solid;
    border-radius: 6rem;
    /* padding: .5rem; */
    height: 3.3rem;
    width: 8rem;
    color: white;
    border-color: #e3b6ff;

}

#gg2:hover{
background-color: #5a5f9d;
transition: ease-in-out 1000ms;

}

.parra{
    font-family: "Oswald"
}

#gg:hover{
    background-color: #5a5f9d;

    transition: ease-in-out 1000ms;
    
    }

    @media (max-width: 420px) {
        body{
            display: flex;
            flex-direction: column;
            /* justify-content: center; */
            /* align-items: center; */
            text-align: center;
            margin:0;
        }
        #chiki{
            font-size: 1.4rem;
        } 
        #kuchau{
            font-size: 3rem;
        } 
        #lala{
            display: none;
        }
        #hola{
            flex-direction: column;
        }
        #imagen10{
            height: 10rem;
            width: 15rem;
            border-radius: .5rem;
            }
            #imagen20{
            height: 10rem;
            width: 15rem;
            border-radius: .5rem;
            }
        #todo{
            flex-direction: column;

        }
        #todito{
            /* text-align: center; */
            height: 15.6rem;
            overflow: auto;
            margin-left: 0;
            padding: 0;
        }
        #todito2{
            /* text-align: center; */
            height: 18rem;
            overflow: auto;
            margin-left: 0;
            padding: 0;
        }
        #wikiwiki{
            flex-direction: column;
            /* height: 10rem; */
        }
        #git{
            height: 10rem;
            display: flex;
            justify-content: space-between;
        }
        .pp{
            height: 8rem;


        }
        #kakakak{
            height: 8rem;


        }
        #lin{
            height: 10rem;
            display: flex;
            justify-content: space-between;
        }
        #tui{
            height: 10rem;
            display: flex;
            justify-content: space-between;
        }
        #email{
            height: 10rem;
            display: flex;
            justify-content: space-between;
        }
        #fut{
            width: auto;
            margin-left: 0;
        }
        
      }

    @media (max-width:768px){
        #toolingdiv{
            text-align: center;
            justify-content: center;
            align-items: center;
        }
        #lala{
            display: none;
        }
        #kakakak{
            height: 6rem;


        }

    }